*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}
p{
    display: inline-flex;
    align-items: center;
    text-align: center;
}
.logo{
    text-align: center;
}
.menus{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
}