*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}
p{
    display: inline-flex;
    align-items: center;
    text-align: center;
}
.logo{
    text-align: center;
}
.menus{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
}
.banner-container{
    height: 100vh;
    background-image: url('asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 86px;
    font-weight: 900;
    color: white;
}
.primary{
    color: red;
}
.bg-primary{
    background-color: red;
    color: white;
}
.description{
    font-size:22px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    width: 55%;
    margin: auto;
}
.btn{
    padding: 15px 35px;;
    font-size: 16px;
    border: none;
    margin: 5px;
}

.service-container{
    height: 100vh;
    background-image: url('asset/image/footer-bg.png'), linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 25px;
}
.service-lside{
    text-align: left;
}
.service-description{
    font-size: 18px;
    margin-bottom: 10px;
    width: 55%;
    margin: auto;
    text-align: left;
}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    text-align: center;
    width: 150px;
    height: 100px;
    color: black;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
}
.first-two-box{
    display: flex;
    gap: 3px;
    margin-top: 5px;
}
.second-two-box{
    display: flex;
    gap: 3px;
    margin-top: 5px;
}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 60px;
}
.author-container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.author-button{
    border-left: 1px solid red;
}